<div>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
		*{
			box-sizing: border-box;
		}
		body{
			margin: 0;
		}
		div{
			position: relative;
			width: 100%;
			height: auto;
			text-align: center;
			font-family: 'Open Sans', sans-serif;
			color: #54565a;
		}
		h1,h3{
			margin: 0;
			padding: 0;
		}
		h1{
			font-weight: 700;
			margin-bottom: 15px;
		}
		h3{
			margin-bottom: 60px;
		}
		ul{
			margin: 0 auto;
			padding: 0;
			list-style-type: none;
			width: 70%;
			height: 100%;
			text-align: center;
		}
		ul li{
			display: block;
			margin-bottom: 30px;
			position: relative;
			padding: 15px 0;
		}
		ul li:before{
		  content: "";
		  position: absolute;
		  width: 100%;
		  height: 2px;
		  bottom: 0;
		  left: 0;
		  background-color: #54565a;
		  visibility: hidden;
		  -webkit-transform: scaleX(0);
		  transform: scaleX(0);
		  -webkit-transition: all 0.3s ease-in-out 0s;
		  transition: all 0.3s ease-in-out 0s;
		}
		ul li:hover:before {
		  visibility: visible;
		  -webkit-transform: scaleX(1);
		  transform: scaleX(1);
		}
		ul li:after{
			content: '';
			display: table;
			clear: both;
		}
		ul li p{
			margin: 0;
			font-weight: 700;
			font-size: 18px;
			width: 50%;
			float: right;
			padding: 30px;
			text-align: left;
		}
		ul li div{
			width: 50%;
			float: left;
		}
		ul li div a{
			display: inline-block;
			text-decoration: none;
			color: transparent;
			overflow: hidden;
			transition: all 0.3s ease-in-out;
		}
		ul li div a img{
			width: 100px;
			height: 100px;
		}
	</style>
	<h1>Zaktualizuj swoją przeglądarkę internetową by móc wyświetlić tę stronę!</h1>
	<h3>Kliknij w ikonę reprezentującą Twoją przeglądarkę aby pobrać jej najnowszą wersję.</h3>
	<ul>
		<li>
			<div><a href="https://www.google.pl/chrome/browser/desktop/"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e2/Google_Chrome_icon_%282011%29.svg" alt="chrome" /></a></div>
			<p>Google Chrome</p>
		</li>
		<li>
			<div><a href="https://www.mozilla.org/pl/firefox/new/"><img src="https://upload.wikimedia.org/wikipedia/commons/7/76/Mozilla_Firefox_logo_2013.svg" alt="firefox" /></a></div>
			<p>Mozilla Firefox</p>
		</li>
		<li>
			<div><a href="http://www.opera.com/pl"><img src="https://upload.wikimedia.org/wikipedia/commons/4/49/Opera_2015_icon.svg" alt="opera" /></a></div>
			<p>Opera</p>
		</li>
		<li>
			<div><a href="https://support.apple.com/pl-pl/safari"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Compass_icon_matte.svg" alt="safari" /></a></div>
			<p>Safari</p>
		</li>
		<li>
			<div><a href="https://www.microsoft.com/pl-pl/windows/microsoft-edge"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Microsoft_Edge_logo.svg" alt="edge" /></a></div>
			<p>Microsoft Edge</p>
		</li>
	</ul>
</div>